{% extends "layout.twig" %}
{% block title %}{% endblock %}
{% block content %}
<a href="/">Главная</a>
    <div>
        <a href="/product?id={{ product['id'] }}" class="fetured_items__link" id="{{ product['id'] }}">
            <div class="hover_cart">
                <!-- <a href="basket/add?id={{ product['id'] }}" class="addProductToCart">Add to Cart</a> -->
                <button class="addProductToCart" data-id="{{ product['id'] }}">Add to Cart</button>
            </div>
            <img src="{{ imgPath }}/{{ product['img'] }}" alt="{{ product['img'] }}">
            <p>{{ product['product_name'] }}</p>
            <div>
                <p class="price">&#36;{{ product['product_price'] }}</p>
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            </div>
        </a>
    </div>
{% endblock %}